<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>donation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img src="./../../assets/imgs/imgmari.jpg">
  </ion-avatar>
    
  <ion-grid>
    <ion-row>
      <ion-col size="4"  text-right>
        ------------------
      </ion-col>
      <ion-col text-center>
        DONATION
      </ion-col>
      <ion-col size="4" text-left>
        ------------------
      </ion-col>
    </ion-row>
  </ion-grid>
    
  <p text-center>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Delectus culpa dolorum consectetur minus aut.
  </p>

  <ion-item-group>
      <ion-grid>
        <ion-row>
            <ion-col>
                  <img src="./../../assets/imgs/togo-818t-a.jpg" (click)="togocelMrt()">
            </ion-col>
            <ion-col>
                  <img src="./../../assets/imgs/togo-817t-a.jpg" (click)="togocelMrt()">
            </ion-col>
            <ion-col>
                <img src="./../../assets/imgs/togo-816t-b.jpg" (click)="moovMrt()">
             </ion-col>
            <ion-col>
                  <img src="./../../assets/imgs/togo-815t-b.jpg" (click)="togocelMrt()">
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <img src="./../../assets/imgs/500.jpg" (click)="moovMrt()">
              </ion-col>
              <ion-col>
                  <img src="./../../assets/imgs/200.jpg" (click)="moovMrt()">
              </ion-col>
              <ion-col>
                  <img src="./../../assets/imgs/100.jpg" (click)="moovMrt()">
               </ion-col>
              <ion-col>
                  <img src="./../../assets/imgs/50.jpg" (click)="moovMrt()">
              </ion-col>
            </ion-row>
      </ion-grid>
  
    <ion-item>
      <ion-label position="floating">motant</ion-label>
      <ion-input type="number" required [(ngModel)]="motantDon"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">code secret</ion-label>
      <ion-input type="tel" required [(ngModel)]="code"></ion-input>
    </ion-item>
  </ion-item-group>
 
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
          <ion-thumbnail>
            <img src="./../../assets/imgs/tg.togocel.tmoneyclient.png" (click)="togocelMrt()">
          </ion-thumbnail>
      </ion-col>
      <ion-col>
        <ion-thumbnail>
          <img src="./../../assets/imgs/unnamed.jpg" (click)="moovMrt()">
        </ion-thumbnail> </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
  
    <ion-button expand="full" (click)="donEnLigne()"> FAIRE DON EN LIGNE</ion-button>
  

</ion-content>
