<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>priere</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-label>VOTRE MESSAGE</ion-label>
    </ion-item>
  <form [formGroup]="createPriereForm" (submit)="createPriere()">
    <ion-item>
      <ion-textarea rows="8" cols="70" maxlength="308" required type="text" formControlName="message"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label position="floating">NOM</ion-label>
        <ion-input type="text" formControlName="nomEmet"></ion-input>
      </ion-item>


    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="tel" formControlName="tele" required></ion-input>
    </ion-item>
    
       <ion-button expand="full" type="submit" [disabled]="!createPriereForm.valid">ENVOI</ion-button>
    </form>

</ion-content>
<ion-footer>
  
</ion-footer>