<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>dedicace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-label>VOTRE MESSAGE</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea rows="8" cols="70" maxlength="308" required type="text"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label position="floating">NOM</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="tel" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">code secret</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    
    <ion-button expand="full">ENVOI</ion-button>
  
</ion-content>
<ion-footer>
  
</ion-footer>