:host { // this is the page itself
	

	ion-content {
        --background: url(../../assets/imgs/Optimized-bacgrond.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }


    
    ion-card {
        --background: #fff;
    }

    

     
      
     

}