<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>radio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <ion-card>
        <ion-card-content>
          <ion-card-title> Radio MT Lome</ion-card-title>
         <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button (click)="pause(); toggle()" *ngIf="showToggle" >
        <ion-icon  name="pause"></ion-icon>
      </ion-button>
    
      <ion-button (click)="play(); toggle()" *ngIf="!showToggle" >
        <ion-icon  name="play"></ion-icon>
      </ion-button>
            </ion-col>
          <ion-col>
          <ion-button >
            <ion-icon name="list"></ion-icon>
          </ion-button>
           </ion-col>

          </ion-row>
         </ion-grid>
        </ion-card-content>
      </ion-card>

     

</ion-content>