.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.grid_bouton{
  background-color: #0062ad;
  height: 75px;
  border: black solide;
}



ion-fab-button{

  ion-icon{
    color: black;
  }
}

.round {
    --width: 40px;
    --height: 40px;
    --border-radius: 50%;
    --vertical-align: middle;
    --padding-start: 5px;
    --padding-end: 5px;
  }

